@import "../theme/_smui-theme.scss";
.about-page {
  .title {
    padding: 20px;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  .content-block {
    padding: 20px;
    @media (min-width: 600px) {
      padding: 40px 60px;
    }
  }
}
