.frescomer-theme {
  $mdc-theme-primary: #ff5926;

  @import "@material/theme/variables";
  @each $style in map-keys($mdc-theme-property-values) {
    --mdc-theme-#{$style}: #{map-get($mdc-theme-property-values, $style)};
  }

  @import "@smui/button/style";
}

// Feed me Tj theme
$feedmetj-theme-primary: #30a0a9;
$feedmetj-theme-secondary: #eeb110;
$feedmetj-theme-tertiary: #1a4399;
$feedmetj-theme-light: #ebeeec;
$feedmetj-theme-dark: #162645;

