.fmt-theme {

  @import "@material/theme/variables";
  @each $style in map-keys($mdc-theme-property-values) {
    --mdc-theme-#{$style}: #{map-get($mdc-theme-property-values, $style)};
  }

  @import "@smui/button/style";
}
// Feed me Tj theme
$theme-primary: #ca4f24;
$theme-secondary: #fff0ca;
$theme-tertiary: #dff7f6;
$theme-light: #f9f9f9;
$theme-dark: #313d69;

