.mdc-dialog {
  display: block;
  pointer-events: none;
  * {
    pointer-events: none;
  }
  &.mdc-dialog--open, &.mdc-dialog--open * {
    pointer-events: auto;
  }
}
.cta-map {
  .mdc-dialog__content  {
    padding: 0 8px;
  }
  .mdc-dialog__surface {
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
  }
  .mdc-dialog__title {
    border-bottom: none;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    &:before {
      display: none;
    }
  }
  .mdc-dialog__content  {
    position: relative;
    height: calc(100vh - 130px);
  }
  
  footer {
    padding: 0 8px;
    border: none;
  }
}
