@import "../theme/_smui-theme.scss";
.mdc-dialog {
  display: block;
  z-index: -1;

  &.mdc-dialog--open {
    z-index: 7;

    &:after {
      content: "";
      border: solid 50px rgba(246, 149, 113, 0.3);
      background-color: rgba(246, 149, 113, 0.2);
      height: 200px;
      width: 200px;
      border-radius: 200px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}
.cta-map {
  .mdc-dialog__content  {
    padding: 0 8px;
  }
  .mdc-dialog__surface {
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
  }
  .mdc-dialog__title {
    border-bottom: none;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    &:before {
      display: none;
    }
  }
  .mdc-dialog__content  {
    position: relative;
    height: calc(100vh - 130px);
  }
  
  footer {
    padding: 0 8px;
    border: none;
  }
}
.location-dialog-theme {
  $mdc-theme-primary: $theme-primary;
  @import "@smui/button/style";
}
