@import "../theme/_smui-theme.scss";
nav {
  font-weight: 300;
  padding: 0 1em;
  background: white;
  color: $theme-dark;
  border-bottom: solid 2px $theme-primary;
  ul {
    margin: 0;
    padding: 0;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    li {
      display: block;
      float: left;
    }
  }
  [aria-current] {
    position: relative;
    display: inline-block;
    color: $theme-primary;
    border-bottom-color: $theme-primary;
  }
  a {
    text-decoration: none;
    padding: 1em 0.5em;
    display: block;
    border: solid 2px transparent;
  }
  .logo {
    margin: 5px 5px 0 0;

    @media (min-width: 375px) {
      margin-right: 10px;
    }
  }
}
