@import "../theme/_smui-theme.scss";

.profile {
  &.mdc-dialog {
    .mdc-dialog__container {
      transform: scale(1);
    }
    .mdc-dialog__surface {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      border-radius: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      @media (min-width: 769px) {
        height: 60vh;
        overflow-x: scroll;
        overflow-y: hidden;
      }
    }
    .mdc-dialog__surface {
      transition-duration: .4s;
      transform: translate(0, 50%);
      opacity: 1;
      @media (min-width: 769px) {
        transform: translate(0, 70%);
      }
    }
    &.mdc-dialog--open {
      .mdc-dialog__surface {
        transform: translate(0, 0);
        @media (min-width: 769px) {
          transform: translate(0, 40%);
        }
      }
    }
  }
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    opacity: 0.3;
    border-radius: 0;
    background: none;
    border: none;
    
    &:hover {
      opacity: 1;
    }
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &:before, &:after {
      position: absolute;
      left: 10px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  
}
