@import "../theme/_smui-theme.scss";
.sticky-banner {
  background-image: url("banner_bkg_mobile.svg");
  background-color: $theme-tertiary;
  background-size: auto 100%;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 30px 20px;

  @media (min-width: 600px) {
    background-image: url("banner_bkg.svg");
  }

  .content {
    text-align: center;
    
    @media (min-width: 600px) {
      margin-right: 200px;
    }
  }
}
